- name: update Debian machines
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"
- name: update Redhat machines
  yum:
    name: '*'
    update_cache: yes
    state: latest
  when: ansible_os_family == "RedHat"
